<section class="vh-100" style="background-color: #c9c7c7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
            <div class="row">
                <div class="col-md-10 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">

                        <form [formGroup]="form" (submit)="submit()" style="margin-left: 20%;">

                            <div class="d-flex align-items-center mb-3 pb-1" style="margin-left: 30%;">
                                <i class="fa fa-cubes fa-2x me-3" style="color: #1980ff;"></i>
                                <span class="h1 fw-bold mb-0">Moringa</span>
                            </div>

                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; text-align: center;">Register a Moringa Staff account</h5>

                            <div class="form-outline mb-4">
                                <input formControlName="name"  placeholder="Username" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="email" type="email" placeholder="Email Address" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <input formControlName="password" type="password" placeholder="Password" class="form-control form-control-lg" />
                            </div>

                            <!-- <div class="form-outline mb-4">
                                <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" class="form-control form-control-lg" />
                            </div> -->

                            <div class="pt-1 mb-4">
                                <button class="btn btn-dark btn-lg btn-block" type="submit">Register</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>