<!-- <div class="">
    <div class="submit-form">
    <div *ngIf="!submitted">

        <div class="form-group">
            <label for="sample_number">Sample Number: </label>
            <input type="text" class="form-control" id="sample_number" placeholder="Sample Number"
            [(ngModel)]="labForm.sample_number" name="sample_number">
        </div>
        <div class="form-goup">
            <label for="age">Age: </label>
            <input type="text" class="form-control" id="age" placeholder="Age" [(ngModel)]="labForm.age"
            name="age">
        </div>
        <div class="form-goup">
            <label for="gender">Gender: </label>
            <input type="text" class="form-control" id="gender" placeholder="Gender" [(ngModel)]="labForm.gender"
            name="gender">
        </div>
        <div class="form-goup">
            <label for="signs_and_symptoms">Signs and Symptoms: </label>
            <input type="text" class="form-control" id="signs_and_symptoms" placeholder="Signs and Symptoms" [(ngModel)]="labForm.signs_and_symptoms"
            name="signs_and_symptoms">
        </div>
        <div class="form-goup">
            <label for="patient_type">Type of Patient: </label>
            <input type="text" class="form-control" id="patient_type" placeholder="Type of Patient" [(ngModel)]="labForm.patient_type"
            name="patient_type">
        </div>
        <div class="form-goup">
            <label for="condition">Condition: </label>
            <input type="text" class="form-control" id="condition" placeholder="Condition" [(ngModel)]="labForm.condition"
            name="condition">
        </div>
        <div class="form-group">
            <label for="test">Test: </label>
            <input type="text" class="form-control" id="test" placeholder="Test" [(ngModel)]="labForm.test" name="test">
        </div>
        <div class="form-group">
            <label for="disease_found">Disease Found: </label>
            <input type="text" class="form-control" id="disease_found" placeholder="Disease Found" [(ngModel)]="labForm.disease_found"
            name="disease_found">
        </div>
        <button (click)="saveLabForm()" class="btn btn-success">Submit</button>
    </div>
    <div *ngIf="submitted">
        <h4>Lab Form was submitted successfully</h4>
        <button class="btn btn-success" (click)="newLabForm()">Add</button>
    </div>
    </div>
</div> -->
