<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- about starts -->

<div id="flex-container">
<!-- <div>
<section id="about" class="container">
    <div>
    <div>
        <h1><span>About</span></h1>
    </div>
    <p> Moringa Hospital has been in discussions with KEMRI labs to conduct research that involves finding out the diseases affecting public health in Ngong Area. KEMRI needs some sort of database for diseases in the area.</p>
    </div>


    <div>
    <h1><span>Our Mission</span></h1>
    <ul> 
        Our mission is to improve human health and quality of life through research.
    </ul>
    </div>

    <div>
    <br>
    <h1><span>Our vision</span></h1>
    <ul>
        To provide care,hope and cure
    </ul>
    </div>
</section>
</div>

about ends  -->

<!-- contact starts  -->

<footer>
<div class="footer-details">   
    <div class="contact">
        <div class="flexicons">
            <a href="https://www.google.com/search?tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=ALiCzsavwkjmM-31wAkAAv6nB-4zYIXBLA:1651935351835&q=kemri+location&rflfq=1&num=10#">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>Nairobi,Kenya</p>
            </a>
            
        </div>
        <div class="flexicons">
            <a href="https://www.google.com/search?tbs=lf:1,lf_ui:2&tbm=lcl&sxsrf=ALiCzsavwkjmM-31wAkAAv6nB-4zYIXBLA:1651935351835&q=kemri+location&rflfq=1&num=10#">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>+97 8230 1683</p>
            </a>
        </div>
        <div class="flexicons">
            <a href="https://www.kemri.go.ke/contact/">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p>moringa@kemri.com</p>
            </a>
        </div>
    </div>

    <div class="facebook">
        <div class="about-footer">
            <h1>About the Company</h1>
            <p>
                The Kenya Medical Research Institute (KEMRI) is a State Corporation established in Kenya in 1979 through the Science and Technology (Repealed) Act, Cap 250 of the Laws of Kenya operated under the Science Technology and Innovation Act, 2013 as the national body responsible for carrying out research in human health in Kenya. Currently, KEMRI operates under Legal Notice No. 35 of March 2021
                KEMRI has grown from its humble beginning over 40 years ago to become a regional leader in human health research.
                The Institute currently ranks as one of the leading Centres of excellence in health research both in Africa as well as globally.
            </p>
        </div>
        <div class="social">
            <div class="container" style="padding: 60px 0;" align="center">
                
        <a href="https://www.facebook.com/kemrikenya/">
            <i id='facebook'class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
        </a>
        <a href="https://twitter.com/KEMRI_Kenya?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                <i id='twitter'class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
            </a>
            <a href="https://www.kemri.go.ke/">
                    <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/company/kenya-medical-research-institute-kemri-/">
                        <i id="linkedin" class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    
                        
            </div>

        </div>
    </div>

</div>


<div style="background: #004872;">
    <p style="color: #91BEC2; padding: 20px 0;" align="center">
        &copy; 2022
        Copyright: <a href="">All Rights Reserved</a>
    </p>
</div>
</footer>
</div>

<!-- contact ends -->

<router-outlet></router-outlet>







